<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">WebSite Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/members">Protected Page 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log-Out</a>
      </li>
    </ul>
  </div>
</nav>

<h3>The information on the page is protected. Only authenticated users are able to access this page.</h3>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Enter some sample data here and watch it appear below</h5>
          <form class="data">
            <div class="form-group">
              <label for="inputExampleDataName">Data Name</label>
              <input type="text" class="form-control" id="inputExampleDataName" placeholder="Enter Data Title">
            </div>
            <div class="form-group">
              <label for="inputExampleDataText">Data Text</label>
              <input type="text" class="form-control" id="inputExampleDataText" placeholder="Enter Data Text">
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="form-submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="card">
    <h3 class="card-title" style="padding:1%;">Submitted Data:</h3>
    <ul id="example-list" class="list-group">
      {{#each examples}}
      <li data-id="{{this.id}}" class="list-group-item">
        <a href="example/{{this.id}}">{{this.text}}</a>
        <button class="btn btn-danger float-right delete">ｘ</button>
      </li>
      {{/each}}
    </ul>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>